<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzU5zCbHntJ7AMVDm3cb-kihwv2KaXCUc</string>
	<key>GCM_SENDER_ID</key>
	<string>310294113265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poeicpClient.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>poeicpclient4</string>
	<key>STORAGE_BUCKET</key>
	<string>poeicpclient4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310294113265:ios:a7d7124d4095398b5cf250</string>
</dict>
</plist>